*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.footer {
  width: 100%;
  background-color: gray;
  color: $white;
  min-height: 100px;
}

.footer-inner {
  height: 100%;
}

.footer-inner.container {
  width: auto;
  padding: 0;
}

.footer-inner {
  display: flex;
  flex-direction: column-reverse;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;

  .nav-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-nav-blog {
    width: 50%;
    padding-bottom: 40px;
  }

  .footer-nav-info {
    width: 50%;
    padding-bottom: 40px;
  }

  & > ul {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
  }

  .vertical {
    border-left: 2px solid $white;
    height: 110px;
    position: absolute;
    left: 50%;
    margin-top: 60px;
  }
}

.footer-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-social {
    ul {
      display: flex;
      flex-direction: row;
    }
  }
}

.nav-title {
  text-align: center;
}

.footer-contact {
  display: none;
}

@include media-breakpoint-up(lg) {
  .footer {
    padding: 40px 0;
    background-color: #e8e8e8;
    color: #2b2b2b;
    font-family: 'PlayFair Display';
  }
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-contact {
    display: block;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    grid-column-gap: 33.3%;

    .footer-nav-blog {
      text-align: start;
      flex: 50%;
    }

    .footer-nav-info {
      text-align: start;
      flex: 50%;
    }

    a {
      font-family: 'PlayFair Display';
    }
  }

  .footer-connect {
    display: flex;
    flex-direction: column;

    .footer-newsletter {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }

    .footer-social {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 16px;
        padding: 10px 0 0;
      }
    }
  }
}
