.banner-main {
  background: $white url('/images/main.png') center center / cover;
  min-height: 177px;
  width: 100%;
  text-align: center;

  .banner-main-inner {
    display: flex;
  }
}

@include media-breakpoint-up(lg) {
  .product-tiles {
    display: flex;
    flex-direction: row;
  }
}
